@charset "utf-8";
/* CSS Document */

/*wrapper goes here*/	   
body{background-image:url(../img/bg.jpg);
	   background-repeat:repeat;
	   font-family:"Times New Roman", Times, serif;
	   }


/*Header goes here*/

.logo{margin:0 auto;}

header{background-image:url(../img/header_bg.jpg);
	   background-repeat:repeat-x;
	   }
	   
	   
/*nav goes here*/

.navbar{background:url(../img/nav_bg.jpg) repeat-x;
        border:0px;
		border-radius:0px;}

.navbar ul li > a{color: #fdef79;
                 font-size: 18px;
				 font-weight: normal;
                 text-align: center;
                 text-transform: uppercase;
				 padding:10px 0px 0px;
				 }
				
section .navbar-nav > li{padding:0px 23px;}

section .navbar-nav > li > a:hover{background-color:#0f0f0f;
						   border-bottom: 5px solid #a5722a;
					       border-top: 5px solid #a5722a;
						   padding:5px 0px 7px;
						  }
						  
						  
/*Sagar Restaurant goes here*/

.sagarRestaurant{position:relative;}

address{position:absolute;
		width:200px;
		bottom:-8px;
		left:86px;
		width:310px;
		}
		
address > p{font-size:17px;
		    color:#fdef79;
			margin:0px;
			}
.restaurant	{position:relative;}		
		   
.text{position:absolute;
	  top:150px;
	  padding:0px 54px;
	  color:#0f0a04;
	  font-family:Myriad Pro;
	  font-size:14px;
	  font-weight:bold;
	  text-align:justify;
	  line-height:1.35em;
	 }
	 
	 
/*footer goes here*/

.newyork{/*padding:0px;*/}

.newyork > p{clear:both;
             color: #b0800a;
             font-family: Arial,Helvetica,sans-serif;
             margin:30px 0px 0px 50px;}

.tree{padding:75px 0px 0px 66px;}
	 
.sagarAdd{padding:23px 0px 0px 25px;
		  }
		  
.desiChinese{padding-left:27px;}

.desiChinese > li{display:inline;}


.desiChinese > li > a{padding:0px 15px;
					  color: #f4ee41;
					  font-family:Arial, Helvetica, sans-serif;
					  display:inline;
					  }
					  
.desiChinese > li > a:hover{background-color:transparent;
							color:#ef4c2c;
							}
							
.followUs{padding:18px 0px 0px 45px;}

.followUs > li{display:inline;}

.followUs > li > img{display:inline;}

.followUs > li > a{padding:0px 5px;
				   display:inline;
				   }
				   
.followUs > li > a > img{display:inline;}

.followUs > li > a:hover{background-color:transparent;}

.bottomImg{padding:0px;}



/*css for about us page*/

#aboutUs{position:relative;
		 overflow:hidden;
		 padding-right: 100px;
		 }
		 
#aboutUs > img{margin: 0 auto 300px;}

#aboutUs > div{position:absolute;
			   width:960px;
			   top:120px;
			   padding: 0 220px 0 160px;			   
			   }
			   
#aboutUs > div >img{margin:0px 0 35px 170px;}

#aboutUs > div > p{font-family:'Tohama', Arial, Helvetica, sans-serif; 
				   color:#cfad32; 
				   font-size:14px;
				   }
				   
				   
/*css for manu page*/

.menuNav{margin-bottom:0px;}

.prasentetor{padding-left:45px;}

.foodMenu{padding:10px 0px 0px 100px;}

.foodMenu > figure:first-child{padding-left:78px;}

.foodList{padding-left:91px;}

.foodList > ul > li > a{ color: #a5722a;
                         font-family: "Myriad Pro";
						 font-size: 20px;
						 font-weight: lighter;
                         line-height: 30px;}
						 
.foodList > ul > li > a:hover{color: #ff0000;
   							  text-decoration: none;
							  }

.appetizer > p{color: #946625;
               font-family: Technical;
               font-size: 30px;
               font-weight: bold;
               margin:0px; }
				 
.appetizer > img{padding-left:193px;}

.topMenu{padding-left:2px;}

tbody{background:url(../img/menu_item_middle_bg.jpg) repeat-y; }

.table{margin-bottom:0px;}

.table > tbody > tr > td {border: 0px none;
						  color: #a5722a;
                          font-size: 20px;
						  font-family: "Myriad Pro";
						  line-height:0px;
						  /*background:#0c0b09;*/
						  padding: 30px 0px 0px 85px;
						  }

.menuTakeOut{padding: 2px 0 0 10px;}



/*css for catering page*/

#catering { padding-left: 56px;}

table > tbody > tr > .cateringForPeople{ color: #ff0000;
                                         font-size: 16px;}
										 
.outdoorCatering {padding: 75px 0px 15px 55px;}


/*css for gellery page*/



/*css for contact page*/

.contact{position:relative;}

.contact > address{position:absolute;
				   with:350px;
				   top:250px;
				  }
				  
				  
/*css for coupon page*/

.coupon > p { color: #946625;
              font-family: Technical;
              font-size: 30px;
              font-weight: bold;
               margin: 0px 0px 0px 112px;}
			   
.coupon > img { margin: 0px 0px 25px 40px;}
			   
			   
.confidential > p { color: #cfad32;
                    font-family: Verdana,Arial,Helvetica,sans-serif;
                    font-size: 14px;
					margin:0px
                    }


.confidential > form{margin-top:15px;}

.form-horizontal .control-label { text-align: left;
								  color: #fdef79;
								  font-size: 19px;
								  padding:0px 0px 0px 0px ;
								  text-align: right;
								 }
								 
.form-control {border-radius:0px;
			   padding: 3px 8px;
			   height: 25px;
			   font-size: 13px;
			  }
			  
.btn { border-radius: 0px;
	   margin: 15px 0px 0px 180px;
	   padding: 2px 28px;
	   background-color: #b0800a;
       border-color: #b0800a;
	   color: #fff;
	 }
	 
.tellFriend {margin: 38px 0px 0px 240px;}


/*css for comments page*/

.works > p:first-child{ color: #946625;
            font-family: Technical;
            font-size: 30px;
            font-weight: bold;
            margin: 0px 0px 0px 25px;
		   }
		   
.works > p > em > strong { color: #fdef79;
                           font-family: "Times New Roman",Times,serif;
                           font-size: 18px;
						   margin-left: 8px;}
						   
.makesHappy { color: #cfad32;
              font-family: Verdana,Arial,Helvetica,sans-serif;
              font-size: 14px;
              text-align: justify;
			   margin-top: 15px;}
			   
.callUs > p > strong { color: #fdef79;
                       font-family: "Times New Roman",Times,serif;
                       font-size: 18px;
			           }
					   
.callUs > p:nth-child(2) { margin-bottom: 22px;}

.comments .control-label{color: #fdef79;
                         font-family: "Times New Roman",Times,serif;
                         font-size: 14px;
                         font-weight: normal;}
						 
.dateTime > div { padding-right: 0px;}

.dateTime > div:last-child{ color: #fdef79;
                            font-family: Verdana, Geneva, sans-serif;
                            font-size: 12px;}
							
.staffAttitude {padding-left:0px;
				color:#CC0000;
				font-size:12px;
				font-family:Verdana, Geneva, sans-serif; 
               }
			   
			   
/*Jamaica css goes here*/

.bgjamaica{display:none;}
.jamaicabg:hover.bgjamaica{display:block;}

.bgbelerose{display:none;}
.bgbelerose:hover{display:block;}

.jamica, .bellerose { padding:30px 0px 100px 0px;}

.branch { padding-left: 25px;}

.branchChoose { padding-top: 44px;}
			
/* ==========================================================================
   Custome Responsive styles.
   ========================================================================== */

	
@media (min-width: 320px) and (max-width: 480px){
	
section .nav li{background:url(../img/nav_bg.jpg) repeat-x;
                border:0px;
	            }
	   
section .navbar-nav > li > a:hover{margin:0px 95px;}

section .navbar-nav > li > a:hover{padding:0px;}

.navbar ul li > a{font-size:14px;}

.navbar-toggle{border:1px solid #fff;}

.navbar-toggle .icon-bar{background-color:#fff;}

.navbar-collapse{box-shadow:none;}

.text{top:92px;
	  font-size:10px;
	  padding:0px 35px;
	  line-height:1.13em;
	 }
	 
address{left:-14px;
		bottom:-10px;
		}

address > p{font-size:11px;
			line-height:1.3em;
			}


/*footer goes here*/
			
footer{margin-top:20px;}

.tree{display:none;}

			
.sagarAdd{padding:0px 0px 0px 15px;}

.desiChinese{margin:0px;
			  padding: 10px 0px 0px 20px;
			}

.desiChinese > li{display:inline;}

.desiChinese > li > a{display:inline;
				      font-size:10px;
					  padding:0px;
					  line-height:0px;
					 }
					 
.followUs{padding:18px 0px 0px 18px;
		  margin:0px;
		 }

.followUs > li{display:inline;
			  }
			  
.followUs > li > img{display:inline;
			         }
			  
.followUs > li > a{display:inline;
				   padding:0px;				   
			      }
				  
.followUs > li > a > img{display:inline;}

.newyork > p{font-size:8px;
			 margin:18px 0px 0px 12px;
			 word-spacing:6px;
			 }
			 
.bottomImg{margin-top:10px;
		   padding:0px;
           }
		   
#aboutUs{padding-right:0px;}
		   
#aboutUs > img {margin: 0 auto 590px;}
		   
#aboutUs > div {padding: 0px;
                position: absolute;
                top: 55px;
                width: 300px;
                }
				
#aboutUs > div > img {margin-left: 15px;}


#aboutUs > div > p {font-size:10px;}

.prasentetor {padding-left: 18px;}

.foodMenu{padding:10px 0 0 15px;}

.foodList {padding-left: 3px;}

.appetizer > p {margin: 50px 0px 0px;}

.appetizer > img {padding-left: 10px;}

.menuItem{display:none;}

tbody{background-image:none;
     }
	 
.table > tbody > tr > td {font-size: 18px;
                          line-height: 0;
                          padding: 30px 0 0 5px;
                         }
						 
.takeOutMenu {padding: 26px 0 0 27px;
              }
			  
table > tbody > tr > .cateringForPeople {font-size: 16px;
										 padding: 22px 0 0 5px;
										 }
										 
.outdoorCatering {padding: 65px 22px 15px 12px;}

.confidential > p { font-size:11px;}

.confidential > p:nth-child(2){margin-bottom:30px;}

.coupon > p { margin: 0 0 0 96px;}

.coupon > img { margin: 0 0 25px 15px;}

.form-horizontal .control-label { font-size: 14px;}

.form-control { padding: 2px 0px;}

.tellFriend { margin: 30px 0 0 50px;}

.btn { margin: 15px 0px 0px 140px;
	   padding: 2px 25px;
	  }

}




@media (min-width: 360px) and (max-width: 640px){
.text{font-size: 11px;
      line-height: 1.2em;
      padding: 0 40px;
      top: 100px;
      }
	  
address > p{font-size:11px;
			line-height:1.3em;
			padding-left: 42px;
			}
			
			
.desiChinese > li > a{font-size:11px;
					  padding:0px 5px;
					 }
					 
.followUs{padding:12px 0px 0px 25px;
		 }
		 
.followUs > li > a { padding: 0 0 0 6px;}

.newyork > p {font-size: 9px;
              margin: 15px 0 0 22px;
              word-spacing: 1px;
              }
			  
#aboutUs > div {padding: 0px 0px 0px 23px;}

.foodMenu {padding: 10px 0 0 38px;}

.appetizer > img {padding-left: 31px;}

.takeOutMenu {padding: 26px 0px 20px 50px;}

.confidential > p { font-size:13px;}

.btn { margin: 12px 0 0 160px;
	   padding: 2px 25px;	   
	  }
	  
.tellFriend { margin: 30px 0 0 80px;}


	
}

@media (min-width: 768px) and (max-width: 1024px){
		
section .navbar-nav > li {padding: 0 13px;}

.navbar ul li > a{font-size:12px;}


.text{top:105px;
	  padding:0px 40px;
	  font-size:11px;
	  line-height:1.4em;
	 }
	 
address{left:12px;}

address > p{font-size:13px;
			line-height:1.2em;
			}
			
.footer-top{padding:11px 6px 0px 0px;}
			
.tree {padding:102px 0px 0px 0px;}
			
.desiChinese{ padding-left: 38px;}

.desiChinese > li > a{padding:10px 10px;
					  font-size:14px;
					 }
					 
.followUs{padding:10px 0px 0px 45px;}

.newyork > p{margin:0px;
			 padding:20px 0px 20px 45px;
			 font-size: 14px;
			 word-spacing: 4px;
			}
			
.bottomImg {padding:0px;}

#aboutUs{padding:0px;}

#aboutUs > div {padding: 0 150px 0 90px;
                top: 90px;
                width: 750px;
               }
			   
#aboutUs > div > img {margin: 0 0 25px 130px;}

#aboutUs > div > p {padding-left:10px;}

#aboutUs > img {margin: 0 auto 450px;}

.prasentetor {padding-left: 0px;}

.foodMenu { padding: 10px 0px 0px;}

.foodMenu > figure:first-child {padding-left: 62px;}

.foodList {padding-left: 3px;}

.foodList > ul > li > a {font-size:18px;}

.appetizer > img {padding-left: 100px;}

.menuItem{display:none;}

tbody {background:none;}

.table > tbody > tr > td {font-size:17px;}

.takeOutMenu {padding: 26px 0 30px 80px;}

.outdoorCatering {padding: 75px 0 15px 115px;}

.confidential > p:nth-child(2){margin-bottom:30px;}

.coupon > img { margin: 0 0 25px 32px;}


}



@media (min-width: 800px) and (max-width: 1280px){
	
	
	}
	
@media (min-width: 900px) and (max-width: 1280px){
		
.tree { padding: 126px 0 0;}

.tellFriend { margin: 35px 0 0 240px; }
	
	
}